.our-project-card h2 {
  font-weight: bold;
  color: #3e64ff;
}
.contain-out-card {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}
.inside-card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  height: 120px;
  margin-top: 20px;
  text-align: center;
}
.inside-card h5 {
  font-size: 30px;
  color: blue;
  font-weight: 900;
  padding-top: 25px;
}
