.container {
    display: flex;

    height: 100px;

}

.branch {


    display: 'flex';
    margin-left: 80px;
    margin-right: 80px;

}

.branch span {


    color: #e1dce9;
    font-weight: 900;
    font-size: 26px;
}


.branch a {
    font-size: 26px;
    font-weight: 900;
}

.navBar ul {
    display: flex;
    align-items: center;
}

.navBar li {
    list-style: none;
    font-size: 17px;
    font-weight: 400;
    margin-left: 50px;
}

.navBar {
    margin-top: 20px;
    margin-left: 200px;

}

.navBar li:hover {
    text-decoration: solid 2px underline;
    text-decoration-color: blue;
}

.status span {
    font-weight: bold;
    font-size: 18px;
    color: blue;
}

.status h1 {
    font-weight: 900;
    font-size: 55px;

}