.container {
    display: flex;

    height: 100px;

}

.branch {

    margin-top: 20px;
    display: 'flex';
    margin-left: 80px;
    margin-right: 80px;

}

.branch span {

    background-color: blue;
    border-radius: 100rem;
    color: #e1dce9;
    font-weight: 900;
    font-size: 26px;
}


.branch a {
    font-size: 26px;
    font-weight: 900;
}

.navBar ul {
    display: flex;
    align-items: center;
}

.navBar li {
    list-style: none;
    font-size: 17px;
    font-weight: 400;
    margin-left: 50px;
}

.navBar {
    margin-top: 20px;
    margin-left: 200px;

}

.navBar li:hover {
    text-decoration: solid 2px underline;
    text-decoration-color: blue;
}

.status span {
    font-weight: bold;
    font-size: 18px;
    color: blue;
}

.status h1 {
    font-weight: 900;
    font-size: 55px;

}






/* .branch {
    float: left;
    margin-left: 100px;
    margin-top: 10px;


}


.container {

    display: 'flex';
    height: 500px;
    margin: 0;
    padding: 0;
    background-color: none;
    justify-content: space-between;
    width: 100%;


}

.branch span {
    background-color: blue;
    font-weight: 900;
    padding: 10px;
    font-size: 26px;
    border-radius: 100%;
    color: aliceblue;
}

.branch a {
    text-decoration: none;
    font-weight: 900;
    color: black;
    font-size: 26px;
}

.navbar {

    float: right;
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    padding-top: 1rem;
    margin-right: 100px;

}

.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar li {
    list-style: none;
}

.navbar a {
    font-size: 18px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 13px;
    padding-right: 10px;
    color: black;
    font-weight: 400;

}

.navbar li:hover {
    text-decoration: solid 2px underline;
    text-decoration-color: blue;
}



.flex-container {
    padding-top: 6rem;

    background-color: none;
}

.flex-container>div {
    font-weight: 900;

    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    justify-items: center;
}

.flex-container>div>span {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    color: #3e64ff;

}

.flex-container>div>h1 {
    font-size: 60px;
    font-weight: 800;
}

.left {


    float: left;
    
    background-color: #baa6db;
} */
/* .flex-container {
    display: flex;
    width: 100%;
    height: 700px;
}

.flex-container>div {
    width: 50%;


    font-size: 30px;
}

.branch {
    float: left;
    margin-left: 100px;
    margin-top: 10px;


}

.branch span {
    background-color: blue;
    font-weight: 900;
    padding: 10px;
    font-size: 26px;
    border-radius: 100%;
    color: aliceblue;
}

.branch a {
    text-decoration: none;
    font-weight: 900;
    color: black;
    font-size: 26px;
}

.navbar {

    float: right;
    background-color: none;
    display: flex;
    justify-content: left;
    align-items: center;

    width: 123%;
    padding-top: 1rem;
    margin-right: 5px;

}

.navbar ul {
    padding: 0;
    margin: 0;

    display: flex;

}

.navbar li {
    list-style: none;
    margin-right: 40px;
}

.navbar a {
    font-size: 18px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    font-weight: 400;

}

.navbar li:hover {
    text-decoration: solid 2px underline;
    text-decoration-color: blue;
}

.status-hey {
    font-size: 16px;
} */