.container {
  display: flex;

  height: 100px;
}

.branch {
  display: "flex";
}

.branch span {
  color: #e1dce9;
  font-weight: 900;
  font-size: 26px;
}

.branch a {
  font-size: 26px;
  font-weight: 900;
}

.typingcss {
  color: rgb(0, 0, 255);
}
.nav-item:hover {
  text-decoration-color: blue;
}
/* .typingcss::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  border-left: 2px solid black;
  animation: typing 5s steps(20) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100%);
  }
  100% {
    left: 0;
  }
} */

.status h1 {
  font-weight: 900;
  font-size: 55px;
}

.home-warpper {
  position: relative;
  > * {
    position: relative;
    z-index: 10;
  }
  .backdrop {
    z-index: 9;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #e6eff8;
    position: absolute;
  }
  .button-center {
    z-index: 9;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    background: #e6eff8;
    position: absolute;
    left: 47.2%;
    bottom: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.down {
  text-align: center;
  transform: rotate(-45deg);
  font-size: 30px;
  color: blue;

  position: absolute;
  animation: down 5s steps(5) infinite;
}
@keyframes down {
  100% {
    transform: rotate(-45deg) translateY(50%);
  }
}
.navbar {
  padding-top: 20px;
  width: 100%;
}
.nav-link {
  font-size: 20px;
}
